html
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="css/style.css")
body
    include ./parts/header
    p.
        Loaded
    
    
    script(src="js/index.js" type="text/javascript")
